<!doctype html>
<html>
  <head>
    <title>Testshot</title>
  </head>
  <body>
    <script>
      window.__testshotWSURL = "<%= wsURL %>"
      window.__diffCSS = <%= diffCSS %>
    </script>
    <script src="<%= entryPath %>"></script>
  </body>
</html>
