<!doctype html>
<html>
  <head>
    <title>Testshot</title>
    <script src="https://use.typekit.net/tly5fnz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <script>
      window.__testshotWSURL = "<%= wsURL %>"
    </script>
    <script src="<%= entryPath %>"></script>
  </body>
</html>
