<!doctype html>
<html>
  <head>
    <title>Tessereact</title>
  </head>
  <body>
    <script>
      window.__tessereactServerPort = <%= tessereactServerPort %>
      window.__tessereactConfig = <%- config %>
    </script>
    <script src="<%= entryPath %>"></script>
  </body>
</html>
